@charset "UTF-8";
/* CSS Document */

/*****************************************************/
/*****************************************************/
/*Zachary Garlett					Date: Mar 24 2019*/
/*Personal Website									 */
/*													 */
/*Feel free to download the source code				 */
/*													 */
/*													 */
/*													 */
/*													 */
/*****************************************************/
/*****************************************************/

/* Base Styles */
* {
	box-sizing: border-box;
}

body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin: 0;
	padding: 0;
	
}

h1,h2{
	font-size: 1.1em;
}

header {
	text-align: center;
	width: 100%;
	padding-bottom: 10px;
	border-radius: 3px;
	
	
}

footer {
	text-align: center;
	
}

a:link {
	text-decoration: none;
	color: #51995d;
}

a:visited {
	color: black;
}



/* Layout Styles */


.main-header {
	background: #51995d;
}

.aboutme-header {
	background: #fc7825;
	text-align: center;
	
}


.name {
	color: white;
}

.nav {
	list-style: none;
	display: block;
	padding-right: 5px;
}

.nav li {
	margin-left: 10px;
	background: white;
	border-radius: 3px;
	font-size: 1.05em;
	
}

.nav li a:hover {
	color: black;
	
	
}

.nav li:hover {
	
	transform: scale(1.2);
}

.col1,.col2,.col3 {
	padding: 15px;
	text-align: center;
}

.new-img {
	background: url('Pictures/tree.JPG') scroll left center;
	height: 475px;
	background-size: cover;
	
	
}


.primary-img {
	background: url('Pictures/Pano_NM.jpg') repeat left center;
	height: 375px;
	margin: -15px -30px;
	padding-top: 70px;
}
/* Media Queries */

@media (min-width: 789px) {
	
	.name {
		float: left;
		padding: 10px;
	}
	
	.nav li{
		float: left;
		padding: 5px;
	}
	
	.nav {
		float: right;
	}
	
	.col1, .col2, .col3 {
		float:left;
		width: 33%;
		
	}
	.new-img{
		float: none;
	}
	
	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

}

